.pageTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.headerDescription {
    font-size: larger;
    padding: 0 10em;
    padding-bottom: 2em;
}

.accordion {
    width: 100%;
    padding: 0 8em;
}